body {
    background-color: azure;
    margin: 0;
}
.navbar {
    background-color: blue;
    color: aliceblue;
    display: flex;
    margin:0;
    align-items: center;
}
.navbar ul li a {
    color: antiquewhite;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.navbar ul {
    list-style-type: none;
    display: flex;
}
.navbar ul li {
    margin-left: 15px;
}
.navbar ul li a:hover {
    background-color: aqua;
    color: black;
}
.navbar h1 {
    margin-left: 5px;
}
.main {
    background-color: white;
    margin: 20px;
    border: 2px aqua solid;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.footer {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding: 10px;
  background-color: #1313cc;
  color: aliceblue;
  align-items: center;
}

.footer a {
  color: white;
  text-decoration: none;
  background-color: royalblue;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

.footer a:hover {
  background-color: #0d0d99;
}
ul {
  list-style: none; /* removes the dots */
  padding: 0;       /* removes default padding */
  margin: 0;        /* optional: removes default margin */
}

